# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Models & Data (Heavy files)
dataset/
dataset2/
scanned_data/
outputs/
*.h5
*.pt
*.onnx
*.pb
*.tflite

# Logs & Temporary files
logs/
*.log
.DS_Store
temp_manual.jpg
training_history.png
scan_history.json

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# IDEs
.vscode/
.idea/
